__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Virtual environment
.*/venv/
ENV/
.*/env/
.env
local_settings.py

# Python cache files and byte code
*$py.class

# Distribution / packaging
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST

# Pytest
.pytest_cache/
htmlcov/
.coverage
.tox/

# Mypy cache
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Other
*.swp
*.swo
*.swn
/tmp/
/nmap_debug.log
/nextgen/
/data/sample_inputs/ips_real.txt
/data/real_inputs/
